{% extends 'base.html' %}

{% block content %}
<h2>Login</h2>
<form method="post">
    {% csrf_token %}
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" required><br>
    <input type="submit" value="Login" class="button">
    {% if message %}
    <p>{{ message }}</p>
    {% endif %}
</form>
<p>Don't have an account? <a href="{% url 'users:register' %}">Register</a></p>
{% endblock %}
